* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #fff;
}

/* #main {
  padding: 30px;
  /* display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
  background-color: #222;
}

h1 {
    color: #555;
    font-size: 10rem;
    font-weight: 300;
    user-select: none;
} 

input{
    /display: none; 
    display: block;
    margin: 10px 20px;
    font-size: 4vh;
}


#btn{
    padding: 12px 22px;
    background-color: rgb(57, 97, 92);
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

#btn:hover{
    background-color: rgb(12, 72, 64);
}

.card{
  max-width: 300px;
  color: #fff;
  display: inline-block;
  padding: 20px;  
  border: 2px solid #e3e3e3;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 10px;
}

.profile{
  width: 50px;
  height: 50px;
  /* background-color: red; 
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}

.profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h5{
  margin-top: 5px;
}

.card p{
  font-size: 12px;
  margin-top: 10px;
} */

/* body{
  position: relative;
  overflow: hidden;
  margin: 30px;
}

ul li{
  font-size: 30px;
  margin: 10px;
}

#abcd{
  position: absolute;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 400px;
  height: 400px;
  background-color: red;
}

.lt{
  text-decoration: line-through;
} */

body{
  margin: 40px 30px;
}

input, textarea, select{
  font-size: 30px;
}

small{
  color: red;
  font-size: 12px;
}

#hide{
  display: none;
}